@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-2xl font-bold;
  }
  h2 {
    @apply text-xl font-bold;
  }
  h3 {
    @apply text-lg font-bold;
  }
  a {
    @apply text-red-500;
  }
  a:hover {
    @apply text-red-700;
  }
  #main-content {
    @apply leading-relaxed;
  }
  #main-content li {
    @apply list-disc list-inside;
  }
  #main-content blockquote {
    @apply bg-slate-200 p-3 rounded-md m-2 text-sm;
  }
}

.breadcrumb {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  background-color: rgb(100 116 139);
  padding: 7px;
}

.breadcrumb li {
  display: inline;
  white-space: nowrap;
  font-size: 11px;
  font-style: italic;
}

.breadcrumb li + li:before {
  content: ">";
  padding: 4px;
  font-weight: bold;
}

.materi-green {
  background-color: rgb(187 247 208);
  border-radius: 0.5rem;
  margin: 0.75rem;
  padding: 0.75rem;
}

.materi-yellow {
  background-color: rgb(254 249 195);
  border-radius: 0.5rem;
  margin: 0.75rem;
  padding: 0.75rem;
}

.materi-blue {
  background-color: rgb(191 219 254);
  border-radius: 0.5rem;
  margin: 0.75rem;
  padding: 0.75rem;
}

.materi-orange {
  background-color: rgb(255 237 213);
  border-radius: 0.5rem;
  margin: 0.75rem;
  padding: 0.75rem;
}

.materi-red {
  background-color: rgb(254 226 226);
  border-radius: 0.5rem;
  margin: 0.75rem;
  padding: 0.75rem;
}

.materi-pink {
  background-color: rgb(251 207 232);
  border-radius: 0.5rem;
  margin: 0.75rem;
  padding: 0.75rem;
}
